@charset "EUC-KR";
/*place holder 색상*/
input:-ms-input-placeholder {
	color: #a8a8a8;
}

input:-webkit-input-placeholder {
	color: #a8a8a8;
}

input:-moz-input-placeholder {
	color: #a8a8a8;
}

div {
	margin: auto;
}

.allLayout {
	position: relative;
}

/* 검색창 */
.searchDiv {
	height: 50px;
	width: 700px;
}

.searchDiv2 {
	position: absolute;
	top: 8%;
	left: 50%;
	padding: 10px;
	transform: translate(-50%, -50%);
	height: 30px;
	width: 30px;
	background-color: #fff;
	border: 1px solid #112D4E;
	border-radius: 30px;
	transition: 0.4s;
}

.searchDiv2:hover {
	box-shadow: 0px 0px .5px 1px #112D4E;
	width: 500px;
}

.search-btn {
	text-decoration: none;
	float: right;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	display: flex; justify-content : center; align-items : center;
	color: #112D4E;
	justify-content: center;
	align-items: center;
}

.searchDiv2:hover .search-txt {
	width: 240px;
	padding: 0 6px;
}

.search-txt {
	padding: 0;
	width: 0px;
	border: none;
	background: none;
	outline: none;
	float: left;
	font-size: 1rem;
	line-height: 30px;
	transition: .4s;
}

/* list */
.wrapper {
	width: 700px;
	display: grid;
	grid-template-columns: repeat(3, 250px);
	grid-template-rows: repeat(2, 180px);
}
.gorup-list {
	border : 1px solid;
	border-radius: 20px;
	padding: 10px;
	margin: 3px;
}
.gorup-list i{
	font-size : 70px;
	color : #3F72AF;
}

